html, body{margin: 0; padding: 0; height: 100%;}
h1{text-align: center;}
hr{border: 1px solid black;}
header{background: rgb(250, 250, 250); position: absolute;
    display: inline-block; width: 100%; height: 700px;}

body { font-family: "나눔고딕"; background-color : rgb(238, 238, 238);
    color : darkslateblue; margin-right : 40px;}

nav{background: rgb(209, 209, 209); position: absolute;
    display: inline-block; width: 20%; height: 800px; top: 700px;}

section{background: rgb(241, 241, 241); position: absolute;
    display: inline-block; width: 75%; height: 800px; top: 700px; left: 20%;}

footer{background-color: rgb(161, 161, 161); display: inline-block;
    position: absolute;width: 100%; height: 10%; top: 3200px;}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: auto;
    }

tr, th, td {
    border: 1px solid black;
    padding: 10px;
    }

#box {
        display: inline-block;
        background-color : #FFEAEA;
        border: 1px solid #EDC6C6;
        width : 250px;
        height : 120px;
    }
    
span {
        display: inline-block;
        font-family: d2coding;
        font-size : 80px;
        font-style: italic;
        color: #003399;
        margin: 15px;
    }